@font-face {
    font-family: 'battambong';
    src: url('/fonts/Battambang-Regular.ttf') format('truetype');
    
}
body{
    font-family: 'battambong',sans-serif;
    
}
.product-list{
    height: 100vh;
    overflow-y:scroll;
    overflow-x: hidden;
    
}
.product-list .product-card{
    height: 150px;
    /* background-color: red; */
}
.product-card .product-title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*---------- invoice ------------------ */
.invoice .invoice-header {
  /* display: none; */
   text-align: center;
  margin-inline: 12px;
 margin-bottom:5px;
  padding-bottom: 0px;
  
}
.shop-name {
  color: #0d6efd;
  font-weight: bold;
  font-size: 1.7rem;
}
.shop-code {
  color: #dc3545;
  font-weight: bold;
  font-size: 2rem;
}
.shop-info {
  font-size: 0.95rem;
  color: #333;
}
.invoice-info {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 10px;
}
.invoice-info strong {
  color: #000;
}
@media print {
  body * {
    visibility: hidden;
  }
  .print-invoice{
    display: none;
  }
  #full-invoice,
  #full-invoice * {
    visibility: visible;
  }
  #full-invoice {
    position: absolute;
    top: 0%;
    right: -0;
    left: -0;
    width: 100%;
  }
}

/* -----------------------------admin ------------- */
.admin-layout .menu{
  margin:6px -6px;
  border-radius: 8px;
  height: 100vh;
  background-color:#04150B;
}
.admin-layout .content{
  margin:6px -6px;
  border-radius: 8px;
  height: 100vh;
  background-color: #F3F3F3;

}
.admin-layout .menu .company-logo{
  height: 80px;
  text-align: end;
  align-content: center;
  padding:12px;
  color: #F0FDF4;
  background-color: #041D0F;
  border-radius: 8px;
}
.admin-layout .menu .menu-button .btn-menu{
  color:#F0FDF4;
  font-size: 18px;
  height: 55px;
  align-content: center;
  background-color: #04150B;
  border:none;
}
.admin-layout .menu .menu-button .btn-menu:hover{
  background-color: #1F512C;
}
/* ---------- create product page  ------------------*/
.create-product-page{
  font-size: 18px;
  background-color: #E2F2E6;
}